[user]
	name = Nikita
	email = lozgachev@posteo.net
	signingkey = 7B4A46D49032476B
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
