[user]
	name = Nikita Lozgachev
[init]
	defaultBranch = main
[core]
	editor = hx
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
[rebase]
	autoStash = true
[branch]
	sort = -committerdate
[alias]
	adog = log --all --decorate --oneline --graph
[include]
	path = ~/.gitconfig-local
