(
    selected_tab: Some("#ffeead"),
    command_fg: Some("#ffffff"),
    selection_bg: Some("#003f8e"),
    selection_fg: Some("#ffffff"),
    cmdbar_bg: Some("#00346e"),
    disabled_fg: Some("#7285b7"),
    diff_line_add: Some("#99cc99"),
    diff_line_delete: Some("#f2777a"),
    diff_file_added: Some("#99cc99"),
    diff_file_removed: Some("#f2777a"),
    diff_file_moved: Some("#ffeead"),
    diff_file_modified: Some("#e78c45"),
    commit_hash: Some("#ffeead"),
    commit_time: Some("#7285b7"),
    commit_author: Some("#bbdaff"),
    danger_fg: Some("#f2777a"),
    push_gauge_bg: Some("#00346e"),
    push_gauge_fg: Some("#bbdaff"),
    tag_fg: Some("#ffeead"),
    branch_fg: Some("#99cc99"),
    block_title_focused: Some("#bbdaff"),
)
